@media (max-width: 992px){
   .card{
        img{
            width:50% !important;
        } 
        
    }
    
}
@media (max-width: 768px){
    .card{
        &.flex-row {
            flex-direction: column !important;
        }
        img{
            width:100% !important;
        } 
         .card-body{
             .btn-group{
                display: flex;
                justify-content: center;
                min-height: 50px;
                button{
                    font-size: 14px;
                }
             }
         }
     }
     
 }